<div id="footer">
  <p>
    © 2017 {{site.owner}}  ·
    <a href="{{site.url}}{{site.baseurl}}/contact/">Contact</a>  ·
    <a style="color: black;" href="{{site.url}}{{site.baseurl}}/impressum/">Impressum</a>
  </p>
  <p>
    <a href="https://adigandhi.github.io/">BitBanger</a> created with &#9829; by <a href="https://github.com/adigandhi">Adi</a>
  </p>
  <p>
    <a href="https://github.com/Trybnetic/minimalist/">BitBanger</a> using theme from <a href="https://github.com/Trybnetic">Mark Weitz</a>
  </p>
</div>
